header {
    background-image: linear-gradient(to bottom, var(--cor2),
    var(--cor5));
    height: 150px;
    text-align: center;
    padding: 30px;
    margin: auto;
}

header h1 {
    font-family: var(--font-destaque);
    font-weight: normal;
    color: white;
    font-size: 3em;
    text-shadow:  2px 2px 0px rgba(0, 0, 0, 0.337);
    margin-bottom: 30px;
}

header p {
    margin: auto;
    font-family: var(--font-padrao);
    color: white;
    text-shadow:  2px 2px 0px rgba(0, 0, 0, 0.337);
    font-weight: normal;
    max-width: 500px;
    font-size: 1.2em;
}

