nav {
    background-color: var(--cor5);
    text-align: center;
    padding: 10px;
}

nav a {
    font-family: var(--font-padrao);
    color: var(--cor1);
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}